squeeze
unsqueeze
stdout.txt
stderr.txt
compressed.bin
dumpbits
esqueeze

# Some students were getting large, AFS temporary files that
# were causing trouble for push.  This should prevent these
# files from being staged.
.__afs*
